<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Angerlo's Nieuws</title>
	</head>
	<body>
		<main>
			<h1>
				Dit is zelf gemaakt
			</h1>
			<br>
			<button class="counting-button" onclick="handleClick()">Klik op mij papa</button>
			<p>Je hebt al <span id="count">0</span> keer geklikt</p>
		</main>
	</body>
</html>

<script>
	let num = 0;

	const handleClick = () => {
		num++;
		document.getElementById('count').innerText = num;
	}
</script>